<h2>Keg as of <%# @keg.created_at.localtime %> </h2>

<%# f = Image.new(100,100) { self.background_color = "red" } %>
<%# send_data(kegimage.to_blob, :filename => 'keg.jpg', :disposition => 'inline', :type => 'image/jpeg') %>
<p><%= link_to "back", :action => 'index' %></p>
